.first-one{
	height:100vh;
	background:url(../img/bg-masthead.jpg);
}
body{
	margin:0;
	padding:0;
}
.first-one .textCenterWrapp h1{
	margin:0;
}
.first-one .textCenterWrapp{
	text-align:center;
	position:relative;
	top:50%;
	transform:translateY(-50%);
}
.first-one .textCenterWrapp .baton{
	width:181px;
	height:66px;
	background-color:#1d809f;
	border:0;
	color:white;
	margin-top:50px;
	font-size:17px;
	font-weight:400;
	border-radius:4px;
	transition:background-color 2s, font-weight 8s;
}

.first-one .textCenterWrapp .baton:hover{
	background-color:#155d74;
	font-weight:800;
}